#nav {
  background-color: #313a44;
  border-radius: 10px;
}

#White {
  color: rgb(247, 244, 244);
}

#White:hover {
  color: rgb(255, 255, 255);
}

.banner {
  position: relative;
  font-size: 35px;
  background-image: linear-gradient(to bottom, #313a44, #564c77, #a74d86, #ee5262, #ff8500);
  width: 100%;
  height: 400px;
}

.banner::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color:#FF8500;
  transform-origin: top right;
  transform: skewY(-2.5deg);
}

#b-btn {
  text-decoration: none;
}

.banner-img,.banner-img-2 {
  border-radius: 10px;
}

body {
  font-family: 'Nunito', sans-serif;
}

#b-btn {
  font-size: 16px !important;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  #b-btn {
    font-size: 16px !important;
  }

  .banner {
    font-size: 25px;
  }

  .align {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

}

@media screen and (max-width:767px) {
  .Title-1 {
    font-size: 30px !important;
  }
}

.bg-1{
  background-color: #313a44 !important;
}
@media screen and (max-width:768px){
  .tu-body{
    font-size:12px;
  }
  .tu-titles{
    font-size:17px;
  }
  
}
#question-1{
border-top-left-radius:15px; 
border-top-right-radius:15px; 
}
#last-question{
  border-bottom-left-radius:15px; 
  border-bottom-right-radius:15px; 
}
#footer{
  background-image: linear-gradient(to right bottom, #313a44, #564c77, #a74d86, #ee5262, #ff8500);
  padding: 10px 30px 5px 10px;
}
.bottom-footer ul li{
  display: inline;
}
.bottom-footer ul li:not(:first-child)::before{
  content: '|';
  padding: 0 10px;
}