html{
  scroll-behavior: smooth;
}
#nav {
  background-color: #313a44;
  /* height: 75px; */
}

#White {
  color: rgb(235, 235, 235);
}

#White:hover {
  color: rgb(255, 255, 255);
}

.banner {
  position: relative;
  font-size: 35px;
  background-color: #DB2B39;
  width: 100%;
  height: 400px;
}

.banner::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #DB2B39;
  transform-origin: top right;
  transform: skewY(-2.5deg);
}

#b-btn {
  text-decoration: none;
  background-color:#F3A712;
  color:#000;
}

.banner-img,.banner-img-2 {
  border-radius: 10px;
}

body {
  margin:0px !important;
  font-family: 'Nunito', sans-serif;
}

#b-btn {
  font-size: 16px !important;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  #b-btn {
    font-size: 16px !important;
  }

  .banner {
    font-size: 25px;
  }

  .align {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

}

@media screen and (max-width:767px) {
  .Title-1 {
    font-size: 30px !important;
  }
}

.bg-1{
  background-color: #DB2B39 !important;
}
.bg-2{
  background: #F3A712;
}

@media screen and (max-width:768px){
  .tu-body{
    font-size:12px;
  }
  .tu-titles{
    font-size:17px;
  }
  
}
#question-1{
border-top-left-radius:15px; 
border-top-right-radius:15px; 
}
#last-question{
  border-bottom-left-radius:15px; 
  border-bottom-right-radius:15px; 
}
#footer{
  padding: 10px 30px 5px 10px;
}
.bottom-footer ul li{
  display: inline;
}
.bottom-footer ul li:not(:first-child)::before{
  content: '|';
  padding: 0 10px;
}
#scroll-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom:10px;
  font-size: 20px;
  z-index: 99;
}
.faq-text{
  font-size: 18px;
  margin-bottom:0 !important;
}
.faq-close{
  right: 2px;
}
.bg-3{background-color: #313a44}
.text-black{color: #000;}
#FFD23F
#FFD23F

#19647E
#28AFB0
#F4D35E
#EE964B